<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
	<handlers>
	  <clear />
	  <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" 
		   scriptProcessor="C:\Users\ebenezer.aggrey.mill\AppData\Local\Programs\Python\Python311\python.exe|C:\Users\ebenezer.aggrey.mill\AppData\Local\Programs\Python\Python311\Lib\site-packages\wfastcgi.py" 
		   resourceType="Unspecified" requireAccess="Script" />
	</handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^static/.*" ignoreCase="true" />
          <action type="None" />
        </rule>
        <rule name="Generated Apps" stopProcessing="true">
          <match url="^generated_apps/.*" ignoreCase="true" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\\inetpub\\wwwroot\\CareIT_Vibe_Miniapp" />
    <add key="WSGI_LOG" value="C:\\inetpub\\logs\\wfastcgi.log" />
  </appSettings>
</configuration>
